/* base classes */
.flex {
    display: flex;
}
.helvetica {
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
}
/* body */
body {
    background: #F6F8F9;
}
/* <----header----> */

/* navigation and navigation's child elements*/
.header-wraper{
    background: #F6F8F9;
    position: relative;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.logo a {
    color: #FA6980;
}

.nav-a{
    color: #A6ADB4;
    font-size: 14px;
    padding: 10px;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
}
.photos-a {
    display: none;
}
ul{
    padding: 20px 0;
    display: flex;
}
.burger-icon {
    background-color: black;
    display: none;
}
.nav-a1 {
    color: black;
}


/* section1 */
.section1 {
    margin-bottom: 40px;
}

.section1-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

/* left - block */

.section1-left-block {
    max-width: 840px;
    width: 100%;
    position: relative;
}


.rock-img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1-titles-on-img {
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section1-titles-on-img h1 {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}
.white-line {
    max-width: 560px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    margin-bottom: 40px;
}

.amazing-places-title {
    color: #FFFFFF;
    font-size: 24px;
}
.section1-titles-on-img p {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    line-height: 25px;
    margin: 10px 0px 30px 0px;
}

.sec1-learn-more {
    width: 134px;
    height: 40px;
    background: #FA6980;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: #FFFFFF;
    font-family: 'Helvetica',sans-serif;
    border-radius: 10px;
}

/* right - block */

.section1-right-block {
    max-width: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.right-block-titles {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
}

.section1-more-news {
    max-width: 380px;
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #DFDFDF;
    margin: 0 auto;
    margin-top: 108px;
    margin-bottom: 40px;

}
.travel-title {
    text-transform: uppercase;
    color: #FA6980;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.article-title {
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    color: #202124;
    margin-bottom: 10px;
}
.lorem1 {
    color: #A6ADB4;
    font-family: 'Helvetica',sans-serif;
    margin-bottom: 10px;
}

.clock-block {
    color: #A6ADB4;
    font-family: 'Helvetica',sans-serif;
}

.clock-title {
    margin-left: 10px;
}

.travel-block-margin {
    margin-top: 40px;
}

/* section2 */
.section2 {
    margin-bottom: 40px;
}

.section2-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.section2-horizontal {
    width: 100%;
    margin: 0 auto;
}

.section2-left-block {
    max-width: 360px;
    width: 100%;
    background: #FFFFFF;
}
.lake-img {
    width: 100%;
}

.section2-trending-title {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}

.lake-img {
    margin-bottom: 40px;
}

.clock-block-margin {
    padding-bottom: 40px;
}

.section2-titles {
    margin-left: 40px;
}

.section2-margin {
    margin: 0px 40px 0px 40px;
}

/* section3 */
.section3 {
    margin-bottom: 100px;
}

.section3-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.section3-container-wraper {
    width: 100%;
}

.section3-left-block {
    max-width: 760px;
    width: 100%;
    margin-right: 40px;
}
.section3-left-top-block {
    width: 100%;
    position: relative;
}



.city-title {
    max-width: 528px;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    text-transform: uppercase;
}
.section3-block-on-image {
    max-width: 680px;
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.lorem-color {
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.margin-from-top-block {
    margin-bottom: 40px;
}

.section3-right-block {
    width: 100%;
}

/* section3 right block */

.elephant-img {
    width: 100%;
    margin-bottom: 20px;
}
.section3-right-blocks-margin {
    margin: 40px 0px 40px 0px;
}
/* footer */

.footer-container {
    width: 100%;
    height: 200px;
    background: #A6ADB4;
    align-items: center;
    justify-content: space-around;
}
.footer-left-block {
    max-width: 400px;
    width: 100%;
    height: 84px;
    justify-content: space-between;
}

.footer-logo-title {
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer-links-left{
    flex-direction: column;
    justify-content: space-between;
}
.footer-links-left a{
    color: #CBD0D3;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
}
.footer-second-block {
    max-width: 608.2px;
    width: 100%;
    justify-content: space-between;
}
.footer-middle-block {
    width: 262px;
}
.footer-middle-block input{
    width: 100%;
    height: 40px;
    background: #A6ADB4;
    border: 2px solid  #CBD0D3;
    border-radius: 5px;
}

.footer-middle-block input::placeholder {
    color: #CBD0D3;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
}

.footer-middle-block form {
    margin-bottom: 16px;
    position: relative;
}
.footer-middle-block input:focus {
    outline: none;
    color: white;
}
.title-under-form {
    color: #CBD0D3;
    font-size: 11px;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
}
.fa-paper-plane {
    color: #CBD0D3;
    position: absolute;
    top: 12px;
    right: 19px;
}
.footer-right-block  {
    width: 160px;
    justify-content: space-between;
    font-size: 20px;
}

.footer-right-block a {
    color: #FFFFFF;
}
/* ended main page */

/* contact html */
.contact-section1 {
    margin-bottom: 40px;
}

.contact-container1 {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-top: 42px;
}

.contact-container1-left-block {
    width: 50%;
}

.house-icon-block {
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 42px;
    
}

.fa-home {
    font-size: 20px;
    color: #202124;
    cursor: pointer;
    margin-right: 30px;
}
.story-title {
    font-size: 13px;
    text-transform: uppercase;
    color: #202124;
    margin: 5px 30px 0px 0px;

}
.contact-world-news-title {
    font-size: 13px;
    color: #A6ADB4;
    text-transform: uppercase;
    margin-top: 5px;
}

.slash {
    color: #202124;
    margin-right: 10px;
}
.contact-mountain-img {
    width: 100%;
    position: relative;
}
.contact-titles-on-image {
    position: absolute;
    width: 360px;
    height: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contact-mountain-img h1 {
    font-size: 32px;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contact-mountain-img p {
    text-align: center;
    color: #FFFFFF;
}
/* contact right block  */
.contact-container1-right-block {
    width: 50%;
    height: 500px;
    background: #FFFFFF;
    margin-top: 84px;
    align-items: center;
    justify-content: center;
}
.contact-forms {
    width: 360px;
}
/* date  - block */
.input-date-block {
    flex-direction: column;
    margin-bottom: 40px;
}

.select-input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid #EBEDED;
    border-radius: 5px;
    margin-top: 10px;
}
.select-input:focus {
    outline: none;
}
.input-relative {
    position: relative;
}

.fa-caret-down {
    position: absolute;
    top: 33px;
    right: 20px;
    color: #A6ADB4;
    cursor: pointer;
}

.select-input::placeholder {
    color: #A6ADB4;
    padding-left: 20px;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

/* input for keyword */
.input-text-block {
    flex-direction: column;
}

.contact-forms label{
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #202124;
}
.contact-forms a div{
    margin-top: 40px;
    font-weight: bold;
}

/* contact second section */
.contact-container2 {
    max-width: 1160px;
    width: 100%;
    height: 253px;
    margin: 0 auto;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #EBEDED;
    border-bottom: 2px solid #EBEDED;
}

.contact-container2-left-block {
    width: 360px;
}
.contact-container2-left-block img {
    margin-bottom: 20px;
}


.contact-container2-left-block h3 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #202124;
}
.big-p-block {
    max-width: 760px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-container2-left-block p {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #A6ADB4;
}
.contact-p {
    margin-bottom: 19px;
}
.contact-2min-ago {
    color: #A6ADB4;
    font-size: 13px;
}

/* contact third section  */

.contact-section3-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 161px;
    border-bottom: 2px solid #EBEDED;
}
.elephant2-img {
    width: 100%;
}

.contact-under-elephant-block {
    max-width: 760px;
    width: 100%;
    margin-top: 40px;
    color: #A6ADB4;
    font-size: 14px;
}

.contact-p-margin {
    margin-bottom: 25px;
}

.contat-p-margin2{
    padding-bottom: 40px;
}
.contact-tablet-display-on{
    margin-bottom: 40px;
    display: none;
}

.weekdays {
    max-width: 233px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    display: none;
}

.balls {
    width: 30px;
    align-items: center;
    justify-content: space-between;
}
.ball1 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #202124;
}

.weekdays  h4 {
    width: 12px;
    color: #A6ADB4;
    position: relative;
}
.weekdays-span {
    color: black;
}
.weekdays h4::after{
    content: '';
    display: block;
    width: 0px;
    height: 4px;
    background-color: #d20a0a;
    border-radius: 10px;
    transition: width 0.4s linear;
    position: absolute;
    bottom: -11px;
    
}

.weekdays h4:hover::after{
    border:  0px solid blue;
    width: 100%;
    transition:  width 0.4s linear;
}


/* ended main page */



/* responsive */

@media (max-width: 1024px) {
    /* <----------main-page-----------> */
    /* section1 */
    .section1-container {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .section1-left-block {
        max-width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .section1-right-block {
        max-width: 100%;
        height: 343px;
        margin: 0px;
        padding: 0px;
    }
    .right-block-titles {
        max-width: 608px;
        width: 100%;
        display: flex;
    }
    .section1-more-news {
        max-width: 608px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .travel-block-margin {
        margin: 0px;
        margin-left: 40px;
    }
    /* section 2 */
    .section2-container {
        max-width: 608px;
        width: 100%;
    }
    .section2-left-block {
        max-width: 284px;
        width: 100%;

    }
    .lake-img {
        max-width: 284px;
        width: 100%;

    }
    .section2-right-block {
        display: none;
    }
    /* section 3 */
    .section3-container {
        max-width: 608px;
        width: 100%;
    }
    .golden-state-img {
        max-width: 608px;
        width: 100%;
    }
    .section3-container-wraper {
        display: flex;
        flex-direction: column;
    }
    .section3-right-block {
        display: flex;
        margin-top: 40px;
        
    }
    .section3-right-blocks-margin {
        margin: 0px;
        margin-left: 40px;
    }
    .none {
        display: none;
    }
    .elephant-img {
        max-width: 284px;
        width: 100%;
    } 
    .section3-block-on-image {
        max-width: 528px;
        width: 100%;
        margin: 0px;
    }
    /* footer */
    .footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 316px; 
    }
    .footer-left-block {
        max-width: 568px;
        width: 100%;
        margin-bottom: 50px;
    }
    /* .footer-middle-block {
        margin-bottom: 50px;
    } */
    .footer-second-block {
        max-width: 608.2px;
        width: 100%;
        align-items: flex-end;
    }

    /* <--------contact page------------> */
    /* contat section1 */
    .house-icon-block {
        max-width: 608px;
        width: 100%;
    }
    .icon-block-left {
        max-width: 199px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        
    }
    .icon-block-right {
        cursor: pointer;
    }
    .contact-container1 {
        max-width: 608px;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .contact-container1-left-block {
        width: 100%;
    }
    
    .contact-first-img {
      width: 100%; 
    }
    .contact-container1-right-block {
        width: 100%;
        margin: 0px;
    }
    /* contact section2 */
    .contact-container2  {
        max-width: 608px;
        height: 465px;
        flex-direction: column;
        justify-content: space-around;
        align-items: unset;
    }

    .contact-container2-left-block {
        width: 284px;
        
    }
    /* section3 */
    .contact-section3-container {
        max-width: 608px;
        width: 100%;
        margin-bottom: 78px;
    }
    .elephant2-img {
        max-width: 608px;
        width: 100%;
    }
    .contact-tablet-display-on {
        display: block;
    }
    .weekdays {
        display: flex;
        margin-bottom: 80px;
    }

}

/* Responsive */

@media (max-width: 768px){
    /* body {
        overflow-x: hidden;
    } */
    .wrapper, 
    ul{
      display: block;
      text-align: left;
    }   
    .nav-a{
      display: block;
      margin-left: 60px;
    }  
    .social-icons{
      display: flex;
      justify-content: center; 
    } 
    .logo{
      text-align: left;
      margin-left: 30px;
    }
    .burger-icon{
      color: #fff;
      display: block;
      font-size: 30px;
      position: absolute;
      right: 30px;
      top: 10px;
      cursor:pointer;
    }
    .active  {
        height: 100vh;
    }
    .active-1 {
        display: none;
    }
    .menu-ul,
    .social-icons{
      display: none;
    }   
    .menu-ul.open-menu{
      display: block;
    } 
    .social-icons.open-socicon{
      display: flex;
    } 
    .girls-face {
        display: none;
    }
    .nav-a1::before {
        content: url(../images/house.svg);
        margin-left: -30px;
        margin-right: 30px;
    }
    .nav-a2::before {
        content: url(../images/discover.svg);
        margin-left: -30px;
        margin-right: 30px;
    }
    .nav-a3::before {
        content: url(../images/photos.svg);
        margin-left: -30px;
        margin-right: 30px;
    }
    .nav-a4::before {
        content: url(../images/mail.svg);
        margin-left: -30px;
        margin-right: 30px;
    }
    .nav-a5::before {
        content: url(../images/girls-face.svg);
        vertical-align: middle;
        margin-left: -30px;
        margin-right: 18px;
    }
  }